@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('fontawesome-free-5.15.1-web/css/solid.min.css');
@import url('fontawesome-free-5.15.1-web/css/fontawesome.min.css');
@import url('dx-layout-helpers.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}

.navbar.header-navbar {
    flex-grow: 0;
    flex-wrap: nowrap;
    border: none;
    background-color: inherit;
    border-radius: 0;
    height: 3.5rem;
    min-height: 3.5rem;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
    justify-content: flex-start;
}

.header-navbar .navbar-toggler {
    outline: none;
    border-radius: 0;
    padding-left: .75rem;
    padding-right: .75rem;
    align-self: stretch;
}

.header-navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color: transparent !important;
    height: 2rem;
    width: 2rem;
}

.main {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    height: calc(100vh - 3.5rem);
    overflow: hidden;
}

.sidebar {
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    transition: transform 0.1s ease-out;
    max-height: 100%;
    overflow: auto;
}

.content {
    padding: 1.1rem 2rem 0 2rem;
    flex: 1 1 auto;
    max-height: 100%;
    overflow: auto;
}

/*.content > * {
    max-width: 1100px;
}*/

.sidebar.collapse {
    display: none;
}

.sidebar.expand {
    display: block;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.title {
    font-size: 1.1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.app-sidebar > .nav-pills > .nav-item:first-of-type {
    padding-top: 1rem;
}

.app-sidebar > .nav-pills > .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.app-sidebar .nav-pills > .nav-item a {
    border-radius: 0px;
    display: flex;
    align-items: center;
}

.app-sidebar > .nav-pills > .nav-item > a {
    font-size: 1rem !important;
    font-weight: 600 !important;
    padding: .25rem 1rem .25rem .125rem;
}

.fit-width {
    max-width: 100%;
}

@media (max-width: 1199.98px) {
    .main {
        min-width: 100vw;
        display: flex;
        flex-flow: column nowrap;
    }

    .sidebar {
        display: none;
    }

    .sidebar.expand {
        position: fixed;
        top: 3.5rem;
        left: 0;
        min-width: 100vw; 
        background-color: #fff;
        z-index: 1050;
    }

    .app-sidebar > .nav-pills > .nav-item:last-of-type {
        padding-bottom: 0;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: inherit;
    }
}

.separator {
    height: 1rem;
}

.cell-value {
    font-family: 'Segoe UI';
    font-size: 14px;
    padding: 6px 0 6px 0;
}

.cell-value-green {
    color: #068485;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 14px;
    padding: 6px 0 6px 0;
}

    .cell-value-green::after {
        margin-left: 4px;
        font-family: 'Font Awesome 5 Free';
        content: "\f30c";
    }

.cell-value-red {
    color: #C94D50;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 14px;
    padding: 6px 0 6px 0;
}

    .cell-value-red::after {
        margin-left: 4px;
        font-family: 'Font Awesome 5 Free';
        content: "\f309";
    }

.cell-star {
    font-size: 14px;
    color: darkgray;
}

.cell-star-gold {
    font-size: 14px;
    color: goldenrod;
}

.tickers-grid-container {
    width: 1000px;
}

.tickers-grid td {
    border-left-width: 0px;
    border-right-width: 0px;
}

.tickers-grid th {
    border-left-width: 0px;
    border-right-width: 0px;
    padding: 6px 0 6px 0;
    background-color: #FAFAFA;
}

.tickers-grid .dxbs-data-row:hover {
    background-color: gainsboro !important;
}   

.tickers-grid .bg-primary {
    background-color: gainsboro!important;
}

.tickers-grid .text-white {
    color: #212529!important;
}

.ticker-link {
    text-decoration: none;
}

.ticker-link:hover {
    text-decoration: none;
}

.web-page-link {
    text-decoration: none;
    font-size: 8px;
}

.ticker-info-bar {
    display: flex;
    flex-direction: row;
    padding: 12px 0;
}

.vertical-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 0 22px;
}

.ticker-bar-header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: white;
    opacity: 0.8;
}

.ticker-bar-value {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 400;
}

.ticker-form-container {
    display: flex;
    flex-direction: row;
}

.ticker-order-book-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
}

.ticker-order-book-inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.ticker-order-book {
    height: 50%;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.order-book-cell-value {
    font-size: 10px;
}

.ticker-order-book .card {
    border-radius: 0px;
}

.ticker-order-book td {
    border-width: 0;
}

.ticker-order-book th {
    border-left-width: 0;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    color: rgba(176, 176, 176);
}

.ticker-order-book th a {
    text-decoration: none;
}
    .ticker-order-book th a:hover {
        text-decoration: none;
    }