<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3578.1870" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3578.1870" targetFramework="net461" />
  <package id="CefSharp.Common" version="71.0.2" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="71.0.2" targetFramework="net461" />
  <package id="cs-moea" version="1.0.2" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net461" />
  <package id="Telegram.Bot" version="14.10.0" targetFramework="net461" />
</packages>