@inherits LayoutComponentBase


<div class="page">
    <Header @bind-StateCssClass="@NavMenuCssClass" />

    <div class="main">
        <div class="sidebar @NavMenuCssClass">
            <NavMenu />
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    string NavMenuCssClass { get; set; }
}
