@page "/datagrid"

@using CryptoBlazor.Data
@inject WeatherForecastService ForecastService

    <h2>DevExpress Data Grid</h2>

    <p class="pb-2 pt-2">The DevExpress Data Grid for Blazor allows you to display and manage data via a tabular (rows/columns) UI metaphor. 
    This page uses our Blazor Data Grid component to display weather forecast values.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxDataGrid Data="@forecasts">
        <DxDataGridDateEditColumn Caption="Date" Field="Date" />
        <DxDataGridColumn Caption="Temperature" Field="TemperatureF" />
    </DxDataGrid>

}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
